<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- First Box, contains apartment info, should be on the left on full screen -->
<div>
    <div class="float-container" >
        <div class="float-child">
            <h2>Apartment Name</h2>
            <p>Monthly Rent</p>
            <p>Address</p>
            <p>Square Footage</p>
            <p>Beds and Baths:</p>
        </div>
        <br>
        <div class="float-child" style="float:left">
            <div> Property Rating: 
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div>
                <div> Landlord Rating: 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Other box containing Extra info and manager info, Should be right side -->
    <!--
    <div class="float-container">
        <div class="float-child">
            <h4>Additional Information:</h4>
            <p>Pet Policy: </p>
            <p>Deposit Amount: </p>
            <p>Length of Rent:</p>
        </div>
        <div style="display:block">
            <div class="manager">
                <p>Manager Name</p>
            </div>
        </div>
    </div> -->
</div>