.image {
    width: 33%;
    margin-left: 16.6%;
}

.image img {
    width: 66vw;
    height: 30vw;
}

.p-2 {
    width:50%
}

.info-wrapper {
    padding: 3%;
}

.manager img {
    width: 100px;
    height: 100px;
    float:left;
}

.information-list{
    margin-left: 2%;
    width: 25vw;
    min-height: 200;
}

.listing {
    margin-left: 16.6%;
    margin-right: 16.6%;
}

/* This is for the rating stars */
.checked {
    color: orange;
}

/* Bootstrap CSS for structure*/

.container {
    width: 49%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 25%;
    border-radius:2%;
    background-color: #3c486b18
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
}
  
.col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
  

  
  
  