.float-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    white-space: nowrap;
}

.float-child {
    display: inline-block;
    width: 48%;
}

/* This is for the rating stars */
.checked {
    color: orange;
}

/* Container for the manager and contact tab */
.manager {
    background-color: white;
    border: 10px solid #3C486B;
    margin: 3px;
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 4%;
}

/* Resizing manager icon */
.manager img {
    width: 50px;
    height: 50px;
    float:left;
  }

.manager h4 {
    float:right;
    padding-left: 10px;
    padding-right: 5px
}

/* Bootstrap CSS for structure*/

.container {
    width: 49%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 25%;
    border-radius:2%;
    background-color: #3c486b18
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
}
  
.col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
  

  
  
  