<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- First Box, contains apartment info, should be on the left on full screen -->
<div class="float-container" *ngIf="property;else other_content">
    <div class="float-child" >
        <div class="float-child">
            <h3>Apartment Name: {{property.name}}</h3>
            <p>Monthly Rent: {{property.monthlyRent | currency}}</p>
            <p>Address: {{property.address}}</p>
            <p>Square Footage: {{property.sqFootage}}</p>
            <p>Beds: {{property.numBeds}} &nbsp; Baths: {{property.numBaths}} </p>
        </div>
        <br>
        <div class="float-child" style="float:left">
            <div> Property Rating: 
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div>
                <div> Landlord Rating: 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="float-child">
        <div class="float-child">
            <h4>Additional Information:</h4>
            <p>Pet Policy: {{property.petPolicy}}</p>
            <p>Deposit Amount: {{property.depositAmount}}</p>
            <p>Length of Rent: {{property.rentLength}}</p>
        </div>
        <div style="display:block">
            <div class="manager">
                <p>Manager Name</p>
            </div>
        </div>
    </div>

    <!--Review boxes. Can be filled with ngFor let review of reviews-->
    <div style="clear: both;">
        <h1>Reviews:</h1>
        <li *ngFor="let review of reviews">
            <span>{{review.reviewerName}}</span>
        </li>
    </div>

</div>



<ng-template #other_content>
    <div>
        <h1>Property not found</h1>
        <p>Make error page if property id doesn't exist</p>
        <p>For testing just put /listing/1 or 2-4 in searchbar</p>
    </div>
</ng-template>