a {
    color: #F0F0F0;
    font-size: medium;
    float: right;
    margin-right: 20px;
    position: relative;
    top: 10px;
}
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

a:hover {
    color: white;
}

.title:visited {
    color: #F45050;
}

.title {
    color: #F45050;
    font-size: larger;
    margin-left: 20px;
    float: left;
    top: 10px;
    text-align: left;
    filter: drop-shadow(-1.5px 1px 1px #331111);
}

.navbar {
    background-color: #3C486B;
    color: #F0F0F0;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

div {
    border-radius: 0;
}

