
<img class="img-fluid" [src]="imagePath">

<hr class="solid">

<div class="float-container">

    <div class="float-child">
        <div>
            <h3>The apartment search has now been made easy</h3>
            <p>
                Easily browse through thousands of current property listings on our user-friendly website.
                Filter your choices by selecting your top priorities such as the number of bedrooms nd bathrooms,
                preferred price range, pet acceptance policy, and other features.
            </p>
        </div>
    </div>

    <button type="button" class="float-child btn btn-secondary" routerLink="/search">Search for an apartment near me</button>
</div>
