.main {
    width: 100%;
    height: 100%;
}

.flexbox {
    display: flex;
}

.left-panel {
    width: 50%;
    border: 1px solid burlywood;
    margin: 1%
}

.right-panel {
    position: sticky;
    height: 85vh;
    width: 50%;
    border: 1px solid gray;
    top: 13vh;
    margin: 1%;
    overflow: hidden;
}

.filters {
    color: black;
}
