<div class="main">
    <div class="flexbox">

        <div class="left-panel">
            <!-- filters -->
            <div class="filters" padding="20px 20px 20px 20px">
                <span>Num. Beds: <input type="number" [(ngModel)]='numBeds'id="numBedsInput" name="Number of Beds" min="0" max="5"></span>
                <span>Num. Baths: <input type="number"[(ngModel)]='numBaths' id="numBathsInput" name="Number of Baths" min="0" max="5"></span>
                <span>Minimum Sq. Feet: <input type="number" [(ngModel)]="sqFeet" id="sqFootageInput" name="Square Footage" min="100" max="5000"></span>
                <button (click)="Filter()">Search</button>
            </div>

            <!-- cards -->
            <!-- <div class="card" style="width: 31rem; display: flex;" *ngFor="let property of properties">
                <img class="card-img-top" src={{property.imageSrc}} alt="Card image cap">
                <div class="card-body">
                    <p><span style="float: left">{{property.name}}</span> <span style="float: right">{{property.monthlyRent | currency}}</span></p>
                  <a routerLink="/listing/{{property.id}}" class="btn btn-primary">View Apartment</a>
                </div>
              </div> -->

            <!-- <div style="display: table-row; border: 1px solid yellow;" *ngFor="let property of properties; let i=index">
                <div style="display: table-cell; width: 31rem; border: 1px solid red;">left</div>
                <div style="display: table-cell; width: 31rem; border: 1px solid blue;">right</div>
            </div> -->

            <div class="wrapper">
                <div *ngIf="filtered; else elseBlock">
                    <div class="card" *ngFor="let property of filteredProperties">
                        <img class="card-img-top" style="height: 50%;" src={{property.imageSrc}} alt="Card image cap">
                        <div class="card-body">
                        <p><span style="float: left">{{property.name}}</span> <span style="float: right">{{property.monthlyRent | currency}}</span></p>
                      <a routerLink="/listing/{{property.id}}" class="btn btn-primary">View Apartment</a>
                    </div>
                  </div>
                </div>
                    <ng-template #elseBlock>
                    <div class="card" *ngFor="let property of properties">
                        <img class="card-img-top" style="height: 50%;" src={{property.imageSrc}} alt="Card image cap">
                        <div class="card-body">
                        <p><span style="float: left">{{property.name}}</span> <span style="float: right">{{property.monthlyRent | currency}}</span></p>
                      <a routerLink="/listing/{{property.id}}" class="btn btn-primary">View Apartment</a>
                    </div>
                  </div>
                </ng-template>
                
            </div>
        </div>

        
        <div class="right-panel">
            <app-maps-api></app-maps-api>
        </div>
    </div>
</div>
